<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                           http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <context:component-scan base-package="by.nulay.changer.vk"><context:exclude-filter type="regex" expression=".*Controller.*"/></context:component-scan>
    <context:component-scan base-package="by.nulay.changer.films"><context:exclude-filter type="regex" expression=".*Controller.*"/></context:component-scan>
    <context:component-scan base-package="by.nulay.changer.task"> <context:exclude-filter type="regex" expression=".*Controller.*"/></context:component-scan>
    <context:component-scan base-package="by.nulay.changer.data"> <context:exclude-filter type="regex" expression=".*Controller.*"/></context:component-scan>
    <context:component-scan base-package="by.nulay.changer.parser"> <context:exclude-filter type="regex" expression=".*Controller.*"/></context:component-scan>
    <!--<context:component-scan base-package="rw.ktc.cms.menu" resource-pattern="[^Cotroller]"/>-->
    <!--<context:component-scan base-package="rw.ktc.cms.material"/>-->

    <!--<bean class="by.nulay.changer.parser.MegacriticParser"></bean>-->

    <!--<mvc:view-controller path="/admin/content/addpage.html" view-name="addPage"/>-->


    <!--Список хибернет маппингов для модуля vkchange-->
    <bean id="listHibPackageServChange"  class="java.util.ArrayList">
        <constructor-arg>
            <list>
                <value>by.nulay.changer.vk</value>
                <value>by.nulay.changer.films</value>
                <value>by.nulay.changer.task</value>
                <value>by.nulay.changer.data</value>
            </list>
        </constructor-arg>
    </bean>

    <import resource="spring-config-hbm.xml"/>
</beans>